# Get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=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

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=af893b41b7288d746d86660274f6c42f

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create kv database here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****
